<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>[GDI]</title>
	</head>
	<h1>Gestor de Incidencias</h1>
	
	<body>
		<p>Bienvenido {{user}}/{{pass}} [{{profile}}]</p>
		<p></p>
		
		<!-- Agrupación de campos -->
		<fieldset>
			<form action="nuevaincidencia">
				<input type='submit' value='Abrir incidencia'>
			</form>
			<p></p>
			
			<label>Consultar incidencia
				<form action="consultarincidencia" method="post">
					<input type='text' name="numincidencia"/>
					<input type='submit' value='Ver'>
				</form>
			</label>
			<p></p>
			
			<form action="login">
				<input type='submit' value='Cancelar'>
			</form>
		</fieldset>
		<p></p>
		
		<!-- Agrupación de campos 2 -->
		<p>Incidencias</p>

		<p>Texto antes del intento de lista</p>
		{{#incidencias}}
			<p>{{incidencias.titulo}}</p>
		{{/incidencias}}
		<p>Texto despues del intento de lista</p>
		
		<fieldset>
			<ul>
				{{#hincidencias}}
					<li>{{.}}</li>
					<li>texto de prueba 1</li>
				{{/hincidencias}}
			</ul>
			
			<table>
				{{#hincidencias}}
					<tr>
						<td>{{-index}}</td>
						<td>{{.}}</td>
						<td>texto de prueba 2</td>
					</tr>
				{{/hincidencias}}
			</table>
		</fieldset>
		
	</body>
</html>