<html>
<body>
	<p>bienvenido, {{user}}/{{pass}} [{{profile}}]</p>
	
	<p></p>
	<form action="nuevaincidencia">
		<input type='submit' value='Abrir incidencia'>
	</form>
	<p></p>
	<a href="/nuevaincidencia">Abrir incidencia</a>
	<p></p>
	
	<p> Numero de incidencia <input type='text' name="numincidencia"></p>
	<form action="consultarincidencia" method="post">
		<input type='submit' value='Consultar incidencia'>
	</form>
	<p></p>
	<a href="/consultarincidencia">Consultar incidencia</a>
	<p></p>
	
	<p></p>
	<form action="login">
		<input type='submit' value='Cancelar'>
	</form>
	<p></p>
	<a href="/login">Volver</a>
	<p></p>
	
</body>
</html>