<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>[GDI]</title>
		
		<style>
			table {
			  width:100%;
			}
			table, th, td {
			  border: 1px solid black;
			  border-collapse: collapse;
			}
			th, td {
			  padding: 5px;
			  text-align: left;
			}
			th {
			  background-color: black;
			  color: white;
			}
		</style>
	</head>
	<h1>Gestor de Incidencias</h1>
	
	<body>
		
		<fieldset>
		<legend>Incidencia</legend>
			<form action="aceptarincidencia" method="post">
				<label>Numero de incidencia </label><input type='text' name="idIncidencia" value="{{incidencia.idIncidencia}}" readonly/>
				<br>
				<label>Estado               </label><input type='text' name="estado" value="{{incidencia.estado}}" readonly/>
				<br>
				<label>Urgencia             </label><input type='text' name="urgencia" value="{{incidencia.urgencia}}" readonly/>
				<br>
				<label>Cliente              </label><input type='text' name="nbCliente" value="{{incidencia.cliente.nombre}}" readonly/>
				<br>
				{{#estaAsignada}}
					<label>Asignatario          </label><input type='text' name="nbAsignatario" value="{{incidencia.asignatario.nombre}}" readonly/>
				{{/estaAsignada}}
				{{^estaAsignada}}
					<label>Asignatario          </label><input type='text' name="asignatario" value=""/><label> </label><input type='submit' value='Aceptar incidencia'>
				{{/estaAsignada}}
			</form>
		</fieldset>
		<br>
		
		<fieldset>
		<legend>Area</legend>
			<label>Departamento: {{incidencia.departamento.nombreDepartamento}}</label>
			<br>
			<label>Problema: {{incidencia.problema}}</label>
		</fieldset>
		<br>
		
		<fieldset>
			<legend>Datos de la incidencia</legend>
				<br>
				<label>Titulo</label><input type='text' style="width:100%" name="titulo" value="{{incidencia.titulo}}"/>
				<br>
				<br>
				
				<label>Descripcion<textarea name="descripcion" rows="5" style="width:100%">{{incidencia.descripcion}}</textarea></label>
				<br>
				<br>
				
				<label>Comentarios</label><br>
					<table>
						<tr>
							<td>Id Comentario</td>
							<td>Fecha</td>
							<td>Anotacion</td>
						</tr>
						{{#incidencia.comentarios}}
							<tr>
								<td char=true>{{idComentario}}</td>
								<td char=true>{{fecha}}</td>
								<td>{{anotacion}}</td>
							</tr>
						{{/incidencia.comentarios}}
					</table>
				<br>
				
				<label>Solucion <textarea name="solucion" rows="5" style="width:100%" value={{incidencia.solucion}}></textarea></label>
				
		</fieldset>
	</body>
</html>