<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>[GDI]</title>
	<style>
		table {
		  width:100%;
		}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: left;
		}
		th {
		  background-color: black;
		  color: white;
		}
	</style>
	</head>
	
	<h1>Gestor de Incidencias</h1>
	
	<body>
		
		<fieldset>
		<legend>Incidencia</legend>
			<form action="aceptarincidencia" method="post">
				<label style="width:200px;position:absolute;top:115px;left:20px;">Numero de incidencia</label>
				<input type='text' name="idIncidencia" value="{{incidencia.idIncidencia}}" readonly style="position:absolute;top:115px;left:220px;"/>
				<br>
				
				<label style="width:200px;position:absolute;top:145px;left:20px;">Estado</label>
				<input type='text' name="estado" value="{{incidencia.estado}}" readonly style="position:absolute;top:145px;left:220px;"/>
				<br>
				
				<label style="width:200px;position:absolute;top:175px;left:20px;">Urgencia</label>
				<input type='text' name="urgencia" value="{{incidencia.urgencia}}" readonly style="position:absolute;top:175px;left:220px;"/>
				<br>
				
				<label style="width:200px;position:absolute;top:205px;left:20px;">Cliente</label>
				<input type='text' name="nbCliente" value="{{incidencia.cliente.nombre}}" readonly style="position:absolute;top:205px;left:220px;"/>
				<br>
				
				<label style="width:200px;position:absolute;top:235px;left:20px;">Asignatario</label>
				{{#estaAsignada}}
					<input type='text' name="nbAsignatario" value="{{incidencia.asignatario.nombre}}" readonly style="position:absolute;top:235px;left:220px;"/>
				{{/estaAsignada}}
				{{^estaAsignada}}
					<input type='text' name="asignatario" value="" style="position:absolute;top:235px;left:220px;"/>
					<input type='submit' value='Aceptar incidencia' style="position:absolute;top:235px;left:390px;">
				{{/estaAsignada}}
			</form>
			<br>
			<br>
			<br>
			<br>
			<br>
		</fieldset>
		<br>
		
		<fieldset>
		<legend>Area</legend>
			<label>Departamento: {{incidencia.departamento.nombreDepartamento}}</label>
			<br>
			<label>Problema: {{incidencia.problema}}</label>
		</fieldset>
		<br>
		
		<fieldset>
			<legend>Datos de la incidencia</legend>
			
				<form action="guardartitulodescripcion" method="post">
					<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
					
					<label>Titulo</label><input type='text' style="width:100%" name="titulo" value="{{incidencia.titulo}}"/>
					<br>
					<br>
					
					<label>Descripcion<textarea name="descripcion" rows="3" style="width:100%" maxlength="255">{{incidencia.descripcion}}</textarea></label>
					<br>
					<br>
					<input type='submit' value='Guardar cambios'>
				</form>
				<br>
				<br>
				
				<label>Comentarios</label><br>
					<table>
						<tr>
							<th>Id Comentario</th>
							<th>Fecha</th>
							<th>Autor</th>
							<th>Anotacion</th>
						</tr>
						{{#incidencia.comentarios}}
							<tr>
								<td><a href="/consultarcomentario?numcomentario={{idComentario}}&numincidencia={{incidencia.idIncidencia}}">{{idComentario}}</a></td>
								<td>{{fecha}}</td>
								<td>{{autor.nombre}}</td>
								<td>{{anotacion}}</td>
							</tr>
						{{/incidencia.comentarios}}
					</table>
				<br>
				
				{{^tieneSolucion}}
					<form action="guardarcomentario" method="post">
						<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
						<label>Añadir comentario
							<br>autor <input type='text' name="autor"/><br>
							<textarea name="comentario" rows="3" style="width:100%" maxlength="255"></textarea>
							<br>
							<br>
							<input type='submit' value='Guardar comentario'>
						</label>
					</form>
					<br>
					<br>
				{{/tieneSolucion}}
				
				<form action="guardarsolucion" method="post">
					<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
					<label>Solucion
						<br>autor <input type='text' name="autor"/><br>
						{{#tieneSolucion}}
							<textarea name="solucion" rows="3" style="width:100%" maxlength="255" readonly>{{incidencia.solucion}}</textarea>
						{{/tieneSolucion}}
						{{^tieneSolucion}}
							<textarea name="solucion" rows="3" style="width:100%" maxlength="255"></textarea>
							<br>
							<br>
							<input type='submit' value='Guardar solucion'>
						{{/tieneSolucion}}
						<br>
					</label>
				</form>
				
				{{#estaCerrada}}
				<form action="reabririncidencia" method="post">
					<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
					{{#tieneSolucion}}
						<input type='submit' value='Reabrir Incidencia'>
					{{/tieneSolucion}}
				</form>
				{{/estaCerrada}}
				
				{{^estaCerrada}}
				<form action="cerrarincidencia" method="post">
					<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
					{{#tieneSolucion}}
						<input type='submit' value='Cerrar Incidencia'>
					{{/tieneSolucion}}
				</form>
				{{/estaCerrada}}
		</fieldset>
		<br>
		<br>
		
		<form action="volveraportal" method="post">
			<input type='hidden' name="perfil" value="tecnico"/>
			<input type='submit' value='Volver al portal'>
		</form>
	</body>
</html>