<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>[GDI]</title>
	</head>
	<h1>Gestor de Incidencias</h1>
	
	<body>
		<fieldset>
			<legend>Comentario</legend>
			<form action="modificarcomentario" method="post">
				<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
				<label><label><label>ID Comentario</label><input type='text' name="idComentario" value="{{comentario.idComentario}}" readonly/>
				<br>
				<label><label><label>Fecha</label><input type='text' name="fecha" value="{{comentario.fecha}}" readonly/>
				<br>
				<label><label><label>Autor</label><input type='text' name="autor" value="{{comentario.autor.nombre}}" readonly/>
				<br>
				<br>
				<label>Anotacion</label>
				<textarea name="anotacion" rows="5" style="width:100%" maxlength="255">{{comentario.anotacion}}</textarea>
				<input type='submit' value='Modificar comentario'>
			</form>
			
			<form action="borrarcomentario" method="post">
				<input type='hidden' name="idIncidencia" value="{{incidencia.idIncidencia}}"/>
				<input type='hidden' name="idComentario" value="{{comentario.idComentario}}"/>
				<input type='submit' value='Borrar comentario'>
			</form>
		</fieldset>
	</body>
</html>