<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>[GDI]</title>
	</head>
	<h1>Gestor de Incidencias</h1>
	
	<body>
		<form action="login" method="post">
			<!-- Agrupación de campos -->
			
			<fieldset>
				<legend>Introduzca sus datos para hacer login</legend>
				<br>
				
				<table width="30%" cellspacing="0" cellpadding="5" border="0">
					<tr>
						<td><label>Usuario</label></td>
						<td><input type='text' name="usuario"/></td>
					</tr>
					
					<tr>
						<td><label>Password</label></td>
						<td><input type='password' name="password"/></td>
					</tr>
				</table>
				<br>
				
				<input type='submit' value='Conectar'>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</fieldset>
		</form>
	</body>
</html>