<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>[GDI]</title>
	<style>
		table {
		  width:100%;
		}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: left;
		}
		th {
		  background-color: black;
		  color: white;
		}
	</style>
	</head>
	
	<h1>Gestor de Incidencias</h1>
	
	<body>

		<fieldset>
			<legend>Quieres abrir o consultar una incidencia?</legend>
			<br>
			<label style="width:200px;position:absolute;top:115px;left:20px;">Abrir una nueva incidencia</label>
			<form action="nuevaincidencia">
				<input type='submit' value='Abrir incidencia' style="position:absolute;top:115px;left:220px;"/>
			</form>
			<br>
			
			<label style="width:200px;position:absolute;top:145px;left:20px;">Consultar incidencia</label>
			<form action="consultarincidencia" method="get">
				<input type='number' name="numincidencia" style="position:absolute;top:145px;left:220px;"/>
				<input type='submit' value='Ver' style="position:absolute;top:145px;left:390px;"/>
			</form>
			<br>
			
			<label style="width:200px;position:absolute;top:175px;left:20px;">Volver al login</label>
			<form action="logout">
				<input type='submit' value='Logout' style="position:absolute;top:175px;left:220px;"/>
			</form>
			<br>
			<br>
		</fieldset>
		<br>
		
		<fieldset>
			<br>
			<legend>Cola de incidencias</legend>
			<table>
				<tr>
					<th>Id Incidencia</th>
					<th>Fecha/hora</th>
					<th>Urgencia</th>
					<th>Estado</th>
					<th>Departamento</th>
					<th>Problema</th>
					<th>Titulo</th>
				</tr>
				
				{{#incidencias}}
					<tr>
						<td><a href="/consultarincidencia?numincidencia={{idIncidencia}}">{{idIncidencia}}</a></td>
						<td>{{fecha}}</td>
						<td>{{urgencia}}</td>
						<td>{{estado}}</td>
						<td>{{departamento.nombreDepartamento}}</td>
						<td>{{problema}}</td>
						<td>{{titulo}}</td>
					</tr>
				{{/incidencias}}
			</table>
		</fieldset>
		
		<br>
		<label>{{nbUsuario}}</label>
		<br>
		
		{{#esUsuario}}
		<label>esUsuario</label><br>
		{{/esUsuario}}
		
		{{#esTecnico}}
		<label>esTecnico</label><br>
		{{/esTecnico}}
		
		{{#esAdministrador}}
		<label>esAdministrador</label><br>
		{{/esAdministrador}}
		
	</body>
</html>