<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>[GDI]</title>
	</head>
	
	<h1>Gestor de Incidencias</h1>
	
	<body>
		<!-- Bienvenido user/pass [profile] -->
		
		<!-- Agrupación de campos -->
		<fieldset>
			<legend>Quieres abrir o consultar una incidencia?</legend>
			<br>
			<label style="width:200px;position:absolute;top:115px;left:20px;">Abrir una nueva incidencia</label>
			<form action="nuevaincidencia">
				<input type='submit' value='Abrir incidencia' style="position:absolute;top:115px;left:220px;"/>
			</form>
			<br>
			
			<label style="width:200px;position:absolute;top:145px;left:20px;">Consultar incidencia</label>
			<form action="consultarincidencia" method="get">
				<input type='number' name="numincidencia" style="position:absolute;top:145px;left:220px;"/>
				<input type='submit' value='Ver' style="position:absolute;top:145px;left:390px;"/>
			</form>
			<br>
			
			<label style="width:200px;position:absolute;top:175px;left:20px;">Volver al login</label>
			<form action="login">
				<input type='submit' value='Cancelar' style="position:absolute;top:175px;left:220px;"/>
			</form>
			<br>
			<br>
		</fieldset>
	</body>
</html>