<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>[GDI]</title>
	</head>
	<h1>Gestor de Incidencias</h1>

	<body>
		<p>Bienvenido {{user}}/{{pass}} [{{profile}}]</p>
		<p></p>
		
		<!-- Agrupación de campos -->
		<fieldset>
			<form action="nuevaincidencia">
				<input type='submit' value='Abrir incidencia'>
			</form>
			<p></p>
			
			<label>Consultar incidencia
				<form action="consultarincidencia" method="post">
					<input type='number' name="numincidencia"/>
					<input type='submit' value='Ver'>
				</form>
			</label>
			<p></p>
			
			<form action="login">
				<input type='submit' value='Cancelar'>
			</form>
		</fieldset>		
	</body>
</html>